<div class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo-link-wrap">
                <a href="../index.html" class="footer__logo-link">
                    Newswire
                </a>
                <p class="footer__logo-text">
                    Newswire
                </p>
                <ul class="footer-social">
                    <li class="footer-social__item">
                        <span class="footer-social__text">
                          Social
                        </span>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <img src="../img/instagram.svg" alt="Instagram" width="" height=""/>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <img src="../img/twitter.svg" alt="Twitter" width="" height=""/>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <img src="../img/facebook.svg" alt="Facebook" width="" height=""/>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <img src="../img/telegram.svg" alt="Telegram" width="" height=""/>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="#" class="footer-social__link">
                            <img src="../img/youtube.svg" alt="Youtube" width="" height=""/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-menu">
                <p class="footer-menu__title">
                    More from Newswire
                </p>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">About</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">Categories</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="events.html" class="footer-menu__list-link">Events</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="news.html" class="footer-menu__list-link">News</a>
                    </li>

                </ul>
            </div>
            <div class="footer-menu">
                <p class="footer-menu__title">
                    Contact
                </p>
                <ul class="footer-menu__list">
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">Advertise</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">Contact us</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">Customer care</a>
                    </li>
                    <li class="footer-menu__list">
                        <a href="" class="footer-menu__list-link">Jobs</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>