<header class="header">
    <div class="container">
        <div class="header__wrap">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Categories</a>
                </li>
                <li class="header__menu-item">
                    <a href="../events.html" class="header__menu-link">Events</a>
                </li>
                <li class="header__menu-item">
                    <a href="../news.html" class="header__menu-link">News</a>
                </li>
            </ul>
            <div class="header__logo-link-wrap">
                <a href="../index.html" class="header__logo-link">
                    Newswire
                </a>
            </div>
            <ul class="header__menu">
                <li class="header__menu-item header__menu-item_icon">
                    <a href="#" class="header__menu-link">Search</a>
                </li>
                <li class="header__menu-item header__menu-item_center">
                    <a href="#" class="header__menu-link">Sign Up</a>
                    <span class="header__menu-separator">/</span>
                    <a href="#" class="header__menu-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>